html {
    -webkit-locale: "en";
}

:root {
    --simple-translate-main-text: #0c0c0d;
    --simple-translate-sub-text: #737373;
    --simple-translate-line: #ededf0;
    --simple-translate-button: #d7d7db;
    --simple-translate-highlight: #5595ff;
    --simple-translate-main-bg: #ffffff;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

html {
    display: block;
}

:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.-add {

    position: relative;
    left: 80%;
}

.pie-pagina {
    background-color: #222222;
    border: black 1px;
    position: relative;
    bottom: 100%;
    color: #d7d7db;


}



.btn-add{

    border-radius: 50,50,50,50;
    background-color: #8be8ff;
}

.btn-add:hover{
    background-size: 60%;
    border-radius: 5,5,5,5;
    background-color: #8bc7ff;
    background-size: contain;
}
.fa {
    color: #d7d7db;
    width: 20%;
    height: 20%;
}

.txt-dark{
    color: #737373;
}


body {
    margin: 0.5;
    padding: 0.5;
    background: url(../img/fondo-contactos.jpg) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
}

h2 {
    text-align: center;
}

table {
    color: wheat;
    font-size: medium;
    background: #020d1ad2;
}

article {
    font-size: 15px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 25px auto;
    margin: 100px;
}

.image {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border:2px solid #fff;
    display: block;
    padding: 10px; 
    margin: 10px; 
    border: 1px solid rgb(124, 122, 122); 
    float: right; 
    
    
}

.info-usuario {
    background-color: rgba(255, 255, 255, 0.438);
    font-size: 25px;
    margin: 5px;
    padding: 15px;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: flex;
}

